.bacnvrac__h1 {
    display: flex;
    justify-content: end;
    font-weight: bolder;
    color: #66a593;
    padding-right: 30px;
    cursor: pointer;
}

.shop__list {
    height: 30rem;
}

.shop__scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.shop__scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.shop__scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #78c2ad;
}

.map__iframe {
    width: 100%;
    height: 100%;
}

.avatars__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.avatar__img {
    width: 100px;
    height: auto;
    margin-right: 3px;
    margin-left: 3px;
}

.blinking {
    animation: font-size 3s infinite;
    font-size: 38px;
}

@keyframes font-size {
    0% {
        font-size: 36px;
    }

    50% {
        font-size: 38px;
    }

    100% {
        font-size: 36px;
    }
}